---
name: Stale Branches

# yamllint disable-line rule:truthy
on:
  schedule:
    # Run every Monday to Friday at 6:00 AM
    - cron: '0 6 * * 1-5'

permissions:
  issues: write
  contents: write

jobs:
  stale_branches:
    runs-on: ubuntu-latest
    steps:
      - name: Stale Branches
        uses: crs-k/stale-branches@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 60
          days-before-delete: 90
          comment-updates: true
          tag-committer: true
